<?xml version='1.0' encoding='utf-8'?>
<widget id="com.game.socialspeedway" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SocialSpeedway</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="gocom@o2.pl" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    
    <preference name="splashscreen" value="splash" />
	<preference name="splashScreenDelay" value="10000" />
</widget>

